{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading" style="color: red;">Invalid Input</h1>
    <p class="description" style="color: red;">{{ message }}</p>
</div>
<div class="container text-center add">
    <a href="{{ url_for('home') }}" class="button">Back To Main</a>
</div>
{% endblock %}